h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1168px;
  padding-left: 10px;
  padding-right: 10px;
  outline: 1px solid red;
}
@media screen and (min-width: 355px) {
  .container {
    width: 355px;
  }
}
@media screen and (min-width: 736px) {
  .container {
    width: 736px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1168px) {
  .container {
    width: 1168px;
  }
}

body {
  font-family: Montserrat;
  background-color: #FAFAFA;
}

.header {
  padding-top: 25px;
  padding-bottom: 19px;
}
@media screen and (min-width: 736px) {
  .header {
    padding-top: 31px;
    padding-bottom: 31px;
  }
}
@media screen and (min-width: 1168px) {
  .header {
    padding-top: 26px;
    padding-bottom: 34px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1168px) {
  .header__container {
    display: flex;
  }
}
.header__simply {
  color: #111;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.42px;
}
@media screen and (min-width: 1168px) {
  .header__simply {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.54px;
  }
}
.header__title {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #111;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.42px;
}
@media screen and (min-width: 1168px) {
  .header__title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.54px;
  }
}
.header__logo {
  width: 21px;
  height: 21px;
}
@media screen and (min-width: 1168px) {
  .header__logo {
    width: 24px;
    height: 24px;
  }
}
.header__group {
  display: none;
}
@media screen and (min-width: 1168px) {
  .header__group {
    display: flex;
    gap: 24px;
    margin-left: auto;
  }
}
.header__link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.28px;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 1168px) {
  .header__button {
    display: none;
  }
}
.header__group2 {
  display: none;
}
@media screen and (min-width: 1168px) {
  .header__group2 {
    display: flex;
    align-items: center;
    margin-left: 137px;
    gap: 18px;
  }
}
.header__socialmedia {
  width: 24px;
  height: 24px;
  fill: #111;
}
.header__burger {
  width: 28px;
  height: 28px;
  fill: #111;
}
@media screen and (min-width: 736px) {
  .header__burger {
    width: 32px;
    height: 32px;
  }
}

.hero__box {
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 395px;
  padding-bottom: 21px;
  margin-bottom: 71px;
  border-radius: 23px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/mobile/heroimage-mobile@1x.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__box {
    background-image: url(../images/mobile/heroimage-mobile@2x.png);
  }
}
@media screen and (min-width: 736px) {
  .hero__box {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
    background-size: cover;
    background-image: url(../images/tablet/heroimage-tablet@1x.jpg);
    padding-top: 671px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 736px) and (min-device-pixel-ratio: 2), screen and (min-width: 736px) and (min-resolution: 192dpi), screen and (min-width: 736px) and (min-resolution: 2dppx) {
  .hero__box {
    background-image: url(../images/tablet/heroimage-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1168px) {
  .hero__box {
    margin-bottom: 72px;
    background-size: cover;
    background-image: url(../images/desktop/heroimage-desktop@1x.jpg);
    padding-top: 381px;
  }
}
@media screen and (min-width: 1168px) and (min-device-pixel-ratio: 2), screen and (min-width: 1168px) and (min-resolution: 192dpi), screen and (min-width: 1168px) and (min-resolution: 2dppx) {
  .hero__box {
    background-image: url(../images/desktop/heroimage-desktop@2x.jpg);
  }
}
.hero__title {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6px;
  width: 299px;
  margin-bottom: 32px;
}
@media screen and (min-width: 736px) {
  .hero__title {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.84px;
    width: 484px;
  }
}
@media screen and (min-width: 736px) {
  .hero__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.hero__list {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 32px;
}
@media screen and (min-width: 736px) {
  .hero__list {
    margin-bottom: 0px;
  }
}
.hero__link {
  padding: 12px 28px;
  border-radius: 100px;
  background: #FD9222;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (min-width: 736px) {
  .hero__link {
    padding: 14px 40px;
  }
}
.hero__item:last-child .hero__link {
  border: 1px solid #FFF;
  background-color: transparent;
}
.hero__scroll {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.36px;
}
@media screen and (min-width: 736px) {
  .hero__scroll {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.42px;
  }
}
.hero__span {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 736px) {
  .hero__span {
    width: 38px;
    height: 38px;
  }
}
.hero__icon {
  width: 16px;
  height: 16px;
  fill: #FD9222;
}
@media screen and (min-width: 736px) {
  .hero__icon {
    width: 22px;
    height: 22px;
  }
}

.benefits {
  background-color: #1E1823;
}
.benefits__container {
  padding: 20px;
}
@media screen and (min-width: 736px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 20px;
  }
}
@media screen and (min-width: 1168px) {
  .benefits__item:not(:last-child) {
    display: flex;
    align-items: center;
  }
  .benefits__item:not(:last-child)::after {
    margin-left: 18px;
    content: "";
    display: block;
    width: 1px;
    height: 124px;
    background: rgba(255, 255, 255, 0.5);
  }
}
.benefits__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits__image {
  width: 32px;
  height: 32px;
  fill: #FD9222;
}
.benefits__title {
  margin-top: 22px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.benefits__text {
  margin-bottom: 20px;
  margin-top: 18px;
  width: 308px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.taste {
  padding-top: 72px;
}
.taste__title {
  width: 283px;
  margin-left: auto;
  margin-right: auto;
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media screen and (min-width: 736px) {
  .taste__title {
    width: 411px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
.taste__taste {
  color: #FD9222;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
@media screen and (min-width: 736px) {
  .taste__taste {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
.taste__description {
  color: #111;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 736px) {
  .taste__description {
    width: 486px;
    margin-left: auto;
    margin-right: auto;
  }
}
.taste__group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 32px;
}
@media screen and (min-width: 736px) {
  .taste__group {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1168px) {
  .taste__group {
    flex-wrap: nowrap;
  }
}
.taste__item {
  border-radius: 15px;
  background: #FD9222;
  padding: 28px 55px 28px 56px;
}
@media screen and (min-width: 1168px) {
  .taste__item {
    padding: 28px 36px 28px 28px;
  }
}
.taste__item:nth-child(even) {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FD9222;
}
.taste__item:nth-child(even) .taste__subtitle {
  color: #111;
}
.taste__item:nth-child(odd) .taste__subtitle {
  color: #FFF;
}
.taste__item:nth-child(3) {
  background-color: #1E1823;
}
@media screen and (min-width: 736px) {
  .taste__item:nth-child(3) {
    order: 1;
  }
}
@media screen and (min-width: 1168px) {
  .taste__item:nth-child(3) {
    order: 0;
  }
}
.taste__image {
  width: 224px;
  height: 171px;
}
@media screen and (min-width: 1168px) {
  .taste__image {
    width: 206px;
    height: 160px;
  }
}
.taste__subtitle {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  margin-top: 25px;
}

.made {
  padding-top: 72px;
}
.made__title {
  margin-bottom: 32px;
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
@media screen and (min-width: 736px) {
  .made__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
.made__made {
  color: #FD9222;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
@media screen and (min-width: 736px) {
  .made__made {
    line-height: 28px;
    font-size: 24px;
    letter-spacing: -0.72px;
  }
}
.made__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1168px) {
  .made__group {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.made__image {
  border-radius: 10px;
}
@media screen and (min-width: 736px) {
  .made__image {
    width: 614px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.made__list {
  padding: 20px 14px;
  list-style: disc;
  background-color: #fff;
}
@media screen and (min-width: 736px) {
  .made__list {
    padding: 32px;
    width: 614px;
  }
}
.made__subtitle {
  margin-top: 40px;
  width: 307px;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
@media screen and (min-width: 736px) {
  .made__subtitle {
    width: 350px;
    margin-top: 52px;
  }
}
@media screen and (min-width: 1168px) {
  .made__subtitle {
    margin-top: 0px;
  }
}
.made__item {
  margin-left: 17px;
}
.made__text {
  width: 291px;
  margin-top: 20px;
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 736px) {
  .made__text {
    width: 464px;
    margin-top: 28px;
  }
}

.products {
  padding-top: 72px;
}
.products__title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.products__product {
  color: #FD9222;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.products__list {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 50px;
}
.products__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #FFF;
}
@media screen and (min-width: 736px) {
  .products__card {
    width: 222px;
  }
}
.products__card:not(:first-child) {
  display: none;
}
@media screen and (min-width: 736px) {
  .products__card:not(:first-child) {
    display: flex;
  }
}
@media screen and (min-width: 736px) {
  .products__card:last-child {
    display: none;
  }
}
@media screen and (min-width: 1168px) {
  .products__card:last-child {
    display: flex;
  }
}
.products__subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
.products__text {
  margin-top: 8px;
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.24px;
}
.products__image {
  width: 180px;
}
.products__button {
  margin-top: 18px;
  padding: 8px 20px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #FAFAFA;
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.sellers {
  padding-top: 105px;
}
.sellers__top {
  color: #FD9222;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
@media screen and (min-width: 736px) {
  .sellers__top {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.72px;
  }
}
.sellers__title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 736px) {
  .sellers__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-bottom: 50px;
  }
}
.sellers__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 736px) {
  .sellers__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }
}
.sellers__item:nth-child(1) {
  order: -2;
}
.sellers__item:nth-child(3) {
  display: none;
}
@media screen and (min-width: 1168px) {
  .sellers__item:nth-child(3) {
    display: block;
  }
}
.sellers__item:nth-child(4) {
  order: -1;
}
@media screen and (min-width: 736px) {
  .sellers__item:nth-child(4) {
    order: 0;
  }
}
.sellers__image {
  border-radius: 15px;
  width: 335px;
  height: 464px;
}
@media screen and (min-width: 736px) {
  .sellers__image {
    width: 344px;
    height: 464px;
  }
}
@media screen and (min-width: 1168px) {
  .sellers__image {
    width: 368px;
    height: 464px;
  }
}
.sellers__text {
  margin-bottom: 32px;
  margin-top: 20px;
  width: 306px;
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 1168px) {
  .sellers__text {
    width: 407px;
  }
}
.sellers__button {
  margin-top: 20px;
  width: 120px;
  height: 41px;
  padding: 12px 28px;
  border-radius: 100px;
  background: #FD9222;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border: none;
}
@media screen and (min-width: 736px) {
  .sellers__button {
    padding: 14px 40px;
    font-size: 18px;
    width: 162px;
    height: 50px;
  }
}

.reviews {
  padding-top: 72px;
  padding-bottom: 72px;
}
.reviews__title {
  color: #111;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 74px;
}
.reviews__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 736px) {
  .reviews__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
.reviews__choc {
  color: #FD9222;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}
.reviews__image {
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
}
.reviews__name {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.reviews__text {
  margin-top: 24px;
  width: 299px;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
.reviews__card {
  height: 230px;
  padding: 0px 18px 42px 18px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #FFF;
  box-shadow: 0 9.049px 26.572px 0 rgba(215, 228, 249, 0.25);
}
.reviews__card:nth-child(2) {
  display: none;
}
@media screen and (min-width: 736px) {
  .reviews__card:nth-child(2) {
    display: block;
  }
}
.reviews__card:nth-child(3) {
  display: none;
}
@media screen and (min-width: 1168px) {
  .reviews__card:nth-child(3) {
    display: block;
  }
}
.reviews__button {
  padding: 12px 28px;
  border-radius: 100px;
  border: 1px solid #FD9222;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 165px;
  margin-top: 32px;
  color: #111;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.newchoc {
  padding: 62px 0px;
  background-color: yellow;
}
.newchoc__title {
  width: 291px;
  color: red;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
@media screen and (min-width: 736px) {
  .newchoc__title {
    width: 378px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
.newchoc__text {
  width: 326px;
  color: red;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 736px) {
  .newchoc__text {
    width: 467px;
  }
}
.newchoc__button {
  padding: 12px 28px;
  border-radius: 100px;
  background: #FD9222;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border: none;
}
@media screen and (min-width: 736px) {
  .newchoc__button {
    padding: 14px 40px;
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */